# Streaming HTTP client for Gemini Native API
aiohttp

# FastAPI 백엔드
fastapi
uvicorn[standard]

# --- 환경 변수 관리
python-dotenv==1.0.1

# --- HTTP 요청 처리 (Gemini GMS)
httpx==0.27.0

# --- LangChain 핵심 구성 요소
langchain==0.3.21 ; python_version >= "3.11" and python_version < "3.12"
langchain-community==0.3.20 ; python_version >= "3.11" and python_version < "3.12"
langchain-core==0.3.45 ; python_version >= "3.11" and python_version < "3.12"
langchain-huggingface==0.1.2 ; python_version >= "3.11" and python_version < "3.12"
langchain-text-splitters==0.3.7 ; python_version >= "3.11" and python_version < "3.12"
langchain-pinecone

# --- Pinecone 벡터스토어
pinecone

# --- 임베딩 및 reranking 모델
transformers==4.49.0 ; python_version >= "3.11" and python_version < "3.12"
torch==2.2.2
sentence-transformers
scikit-learn==1.4.2
tokenizers==0.21.1 ; python_version >= "3.11" and python_version < "3.12"

# --- 문서 로딩, 전처리
pandas==2.2.2
tqdm==4.66.2
# db-dtypes

# --- Google BigQuery
google-cloud-bigquery==3.17.2
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-cloud-core==2.4.1

# --- 문서 임베딩 처리용
unstructured==0.12.6
openpyxl==3.1.2