.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    /* margin-top: 10px; */
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    padding: 15px 0 0 25px;
    z-index: 4;
  }
  
  .logo {
    width: 100px;
    height: auto;
    cursor: pointer;
  }