.chatDetailPage-outer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  align-items: center;
  position: relative;
}

.chatDetailPage-scrollContainer {
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 60px - 120px);
}

.chatDetailPage-contentWrapper {
  width: 100%;
  padding: 24px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatDetailPage-inputWrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--background-color);
  padding: 12px 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  width: 100%;
  transition: padding-left 0.3s ease;
  z-index: 1;
}

.chatDetailPage-inputContainer {
  width: 100%;
  padding: auto 0;
  max-width: 650px;
  align-items: stretch;
  transition: width 0.3s ease;
  margin-left: 68px;
}

.chatDetailPage-inputArea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  gap: 10px;
}

