  .Sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 68px;
    height: 100vh;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #e0e0e0;
    z-index: 1000;
  }
  
  .Sidebar-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px; /* 프로필 높이 + 여백 */
    margin-bottom: 16px;
  }
  
  .Sidebar-profile {
    width: 36px;
    height: 36px;
    border-radius: 40%;
    object-fit: cover;
    border: 1px solid #d1d5db; /* 약간 테두리 느낌 */
  }
  
  .Sidebar-nav ul {
    list-style: none;
    padding: 0 0 176px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
  }
  
  .Sidebar-nav li {
    cursor: pointer;
  }
  
  .Sidebar-nav li:hover {
    color: #4f46e5;
  }
  
  .Sidebar-icon {
    color: #353E80;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .Sidebar-icon:hover {
    color: #6366f1;
  }
  
  .Sidebar-bottom {
    display: flex;
    flex-direction: column;
    gap: 27px;
    align-items: center;
    margin-bottom: 20px;
  }

  /* 다크모드 토글 스위치 */
  .Sidebar-toggleWrapper {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
  }
  
  .Sidebar-toggleInput {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .Sidebar-toggleSlider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e7ebfd;
    border-radius: 34px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    padding-left: 3px;
  }
  
  .Sidebar-toggleSlider::before {
    display: none; /* 기본 원 제거 */
  }
  
  .Sidebar-toggleIcon {
    background-color: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s;
    color: #6366f1;
  }
  
  /* 체크 시 아이콘 오른쪽으로 이동 */
  .Sidebar-toggleInput:checked + .Sidebar-toggleSlider .Sidebar-toggleIcon {
    transform: translateX(16px);
  }