.ChatList-scrollArea {
    flex: 1;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    padding: 24px 16px;
    box-sizing: border-box;
  }
  
  .ChatList-chatBox {
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  