.tabs {
    display: flex;
    gap: 12px;
    margin: 16px 0 32px;
    color: var(--gray-text);
  }
  
  .tab {
    cursor: pointer;
    font-size: 14px;
    padding-bottom: 2px;
  }
  
  .tabActive {
    font-weight: 600;
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
  }
  