.chatDetailPage-outer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  align-items: center;
  position: relative;
}

.chatDetailPage-scrollContainer {
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 60px); /* input창 없는 구조라면 이 정도면 충분 */
}

.chatDetailPage-contentWrapper {
  width: 100%;
  max-width: 650px;
  padding: 24px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.error {
  color: var(--red-alert);
  font-size: 16px;
  padding: 40px;
  text-align: center;
}
