/* SectionTitle.module.css */
.titleWrapper {
    width: 100%;
  }
  
  .title {
    font-size: 28px;
    font-weight: 600;
    color: var(--text-color);
  }
  
  .divider {
    width: 100%;
    max-width: 680px;
    height: 1px;
    background-color: var(--light-gray);
    margin-top: -8px; 
    margin-bottom: 40px;
  }
  