.MainPage-container {
  padding: 160px 60px 60px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease;
}

.MainPage-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 36px;
  text-align: center;
}
